
.wisdom
{
    color: red;
    text-align: center;
}

.Prito
{
    color:blueviolet;
    background-color:bisque;
}

#my_id
{
    color: red;
}




/* h1
{
    color: red;
    margin-left: 200px;
    text-align: center;
} */

